/*追加*/

.gallery {
    display: flex;
}

.galleryImg {
    border: 2px #dbdbdb solid;
    margin: 2%;
}

img {
    vertical-align: bottom;
}

.nav_ {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    /* テキストを中央に配置 */
    line-height: 40px;

}

.nav_:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 20px;
    background-color: #526878;
}


main {
    margin: 50px 0px
}

.mainbox {
    width: 100%;
    padding: 2%;
}

.icon {
    width: 25%;
    border: 2px #dbdbdb solid
}

.WorkImg {
    width: 50%;
    border: 2px #dbdbdb solid
}

section {
    margin: 5%;
}

.space-10 {
    margin-left: 10px;
}

.SkillBar {
    width: 90%;
    border-radius: 25px;
    background: #eee;
    height: 40px;
    margin: 15px;
}

.csp,
.unity,
.blender,
.git,
.cubase,
.sp,
.ps,
.aviutl,
.pp,
.html,
.css,
.jquery,
.js,
.cs,
.php {
    width: 0;
    border-radius: 25px;
    background: #22aa5b;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
}

#container {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

.Skill {
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 2.5%;
    line-height: 80px;
    margin: 1%;
}

.icon {
    float: left;
    margin-right: 20px;
}

.profile {
    overflow: hidden;
    /* floatの影響を受けないようにする */
}

@media screen and (max-width: 979px) {
    nav {
        display: none;
    }
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game>div {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

/* bodyのBackground */
body {
    background-color: #15162B;
}

/* hrの色 */
hr {
    border: 1px solid #2F3042;
}

/* a要素をホバーしたとき、なめらかにテキストを大きくする */
a:hover {
    transition: all 0.3s;
    font-size: 1.2em;
}

a {
    transition: all 0.3s;
}



@font-face {
    font-family: "PixelMplus12-Regular";
    src: url(PixelMplus12-Regular.ttf);
}

/* サイト全体のフォント指定 */
body {
    font-family: "PixelMplus12-Regular"
}


@media screen and (max-width: 768px) {
    .game>div {
        width: 100%;
    }
}
/*追加*/

.gallery {
    display: flex;
}

.galleryImg {
    border: 2px #dbdbdb solid;
    margin: 2%;
}

img {
    vertical-align: bottom;
}

.nav_ {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    /* テキストを中央に配置 */
    line-height: 40px;

}

.nav_:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 20px;
    background-color: #526878;
}


main {
    margin: 50px 0px
}

.mainbox {
    width: 100%;
    padding: 2%;
}

.icon {
    width: 25%;
    border: 2px #dbdbdb solid
}

.WorkImg {
    width: 50%;
    border: 2px #dbdbdb solid
}

section {
    margin: 5%;
}

.space-10 {
    margin-left: 10px;
}

.SkillBar {
    width: 90%;
    border-radius: 25px;
    background: #eee;
    height: 40px;
    margin: 15px;
}

.csp,
.unity,
.blender,
.git,
.cubase,
.sp,
.ps,
.aviutl,
.pp,
.html,
.css,
.jquery,
.js,
.cs,
.php {
    width: 0;
    border-radius: 25px;
    background: #22aa5b;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
}

#container {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
}

.Skill {
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 2.5%;
    line-height: 80px;
    margin: 1%;
}

.icon {
    float: left;
    margin-right: 20px;
}

.profile {
    overflow: hidden;
    /* floatの影響を受けないようにする */
}

@media screen and (max-width: 979px) {
    nav {
        display: none;
    }
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game>div {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

/* bodyのBackground */
body {
    background-color: #15162B;
}

/* hrの色 */
hr {
    border: 1px solid #2F3042;
}

/* a要素をホバーしたとき、なめらかにテキストを大きくする */
a:hover {
    transition: all 0.3s;
    font-size: 1.2em;
}

a {
    transition: all 0.3s;
}



@font-face {
    font-family: "PixelMplus12-Regular";
    src: url(PixelMplus12-Regular.ttf);
}

/* サイト全体のフォント指定 */
body {
    font-family: "PixelMplus12-Regular"
}


@media screen and (max-width: 768px) {
    .game>div {
        width: 100%;
    }
}